#tasting-wheel-container {
  height: 503px;
  width: 503px;
}

.circle__outer {
  stroke: #000;
}

.circle__inner {
  stroke: #000;
}

.ray-grid > line {
  stroke: #000;
}

.data__poly {
  stroke: #00F;
  fill: rgba(0, 128, 255, 0.5);
}

.data__point {
  stroke-width: 4;
  stroke: #00F;
  fill: #FFF;
}

.labels {
  font-family: sans-serif;
  font-size: 20px;
  text-transform: uppercase;

  &.hidden {
    fill: rgba(0, 0, 0, 0);
  }
}
