#tasting-wheel-container {
  height: 100%;
  width: 100%;
}

.circle__outer {
  stroke: #000;
}

.circle__inner {
  stroke: #000;
}

.ray-grid > line {
  stroke: #000;
}

.data__poly {
  stroke: #00F;
  fill: rgba(0, 128, 255, 0.5);
}

.data__point {
  stroke-width: 4;
  stroke: #00F;
  fill: #FFF;
}

.debug {
  rect {
    stroke: none;
    fill: rgba(0, 0, 0, .5);
  }
  line {
    stroke: #F00;
    stroke-width: 3;
  }
}

.labels {
  font-family: sans-serif;
  font-size: 20px;
  text-transform: uppercase;

  &.hidden {
    fill: rgba(0, 0, 0, 0);
  }
}
